<div ng-controller="EditorCtrl">
  <script type="text/ng-template" id="/client/vendor/src/app/robots/editor/codemirror.tpl.html">
    <textarea ui-codemirror="codeMirrorOptions"
              ng-model="robot.code"></textarea>
    <select ng-model="codeMirrorOptions.theme"
            ng-options="t for t in themes"
            class="mt10"></select>
  </script>

  <form name="robotForm" class="form-inline" novalidate>
    <div class="form-group" ng-class="{ 'has-error': robotForm.robotName.$dirty && !robotForm.robotName.$valid }">
      <input type="text" ng-model="robot.name"
             ng-minlength="2" ng-maxlength="20"
             keep-model-value=""
             name="robotName" required class="form-control" />
    </div>
    <button ng-click="updateRobot($index)"
            class="btn btn-default">Save</button>
    <filechooser ng-if="$first" button-class="btn btn-default"
                 change="importFile(files)">Import from file</filechooser>
    <button ng-if="!$first" ng-click="updateRobot($index, true)"
            class="btn btn-danger">Delete</button>
  </form>
  
  <!-- some hacky shit to make ui codemirror work properly w/ ng-repeat -->
  <div ng-if="robot.active" ng-include="'/client/vendor/src/app/robots/editor/codemirror.tpl.html'"></div>
</div>
