.CodeMirror {
    margin-top: 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    font-family: "Inconsolata";
    height: 600px;
}

.tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 15px;
}

.mt10 {
    margin-top: 10px;
}

.match-turn-slider {
    width: 100%;
}

.board {
    width: 100%;
}

.board .box {
    width: 5.263%;
    height: 0;
    padding-top: 2.6315%;
    padding-bottom: 2.6315%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    float: left;
    position: relative;
}

.board .box p {
    line-height: 18px;
    margin-top: -9px;
}

.board .box .glyphicon {
    font-weight: normal;
    font-size: 10px;
    position: absolute;
    z-index: 5;
}

.board .box .glyphicon-arrow-up {
    top: -10px;
    left: 50%;
    margin-left: -5px;
}

.board .box .glyphicon-arrow-right {
    top: 50%;
    left: 100%;
    margin-top: -5px;
}

.board .box .glyphicon-arrow-down {
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

.board .box .glyphicon-arrow-left {
    top: 50%;
    left: -10px;
    margin-top: -5px;
}

.box.obstacle {
    background-color: #888;
}

.box.normal {
    background-color: whitesmoke;
}

.box.blue {
    background-color: #9999FF;
    background-color: rgba(153, 153, 255, 0.8);
}

.box.red {
    background-color: #AA6666;
    background-color: rgba(170, 102, 102, 0.8);
}

.box.suicide {
    border-color: red;
}

.box.guard {
    border-color: yellow;
}

.box.selected {
    border-color: aqua;
}